body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(66, 232, 108);
}

.input-div {
    margin-top: 1rem;
}

.text-field {
    border-radius: 1rem;
    height: 1.4rem;
}

.check {
    padding: 0.3rem 0.6rem;
    border-radius: 1rem;
}

.none {
    display: none;
}

.win, .lose {
    margin-top: 2rem;
    animation-name: result;
    animation-duration: 0.5s;
}

.display-answer {
    margin-top: 20px;
}

@keyframes result {
    from {
        transform: translateY(-5px);
    }
    to {
        transform: translateX(0);
    }
}